<p>{{ 'General_HelloUser'|translate(login) }}</p>
<p>{{ 'Login_LoginFromDifferentCountryEmailBody01'|translate }}</p>
<p>{{ 'Login_LoginFromDifferentCountryEmailBody02'|translate }}</p>
<ul>
    <li>{{ 'Login_IPAddress'|translate }}: {{ ip }}</li>
    <li>{{ 'Login_Country'|translate }}: {{ country }}</li>
    <li>{{ 'Login_IPAddress'|translate }}: {{ dateTime }}</li>
</ul>
<p>{{ 'Login_LoginFromDifferentCountryEmailBody03'|translate }}</p>
<p>{{ 'Login_LoginFromDifferentCountryEmailBody04'|translate('<a href="' ~ resetPasswordLink|escape('html_attr') ~ '">', '</a>')|raw }}</p>
<p>{{ 'Login_LoginFromDifferentCountryEmailBody05'|translate('<a href="' ~ enable2FALink|escape('html_attr') ~ '">', '</a>')|raw }}</p>

<p>{{ 'Login_LoginFromDifferentCountryEmailBody06'|translate }}</p>
